@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    h2 {
        color: #069;
    }
</style>
<div>
    <img src="~/images/IMG_0555.jpg" style='height: 100%; width: 100%; object-fit: contain' />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to The Al Bowlly Database</h2>
        <p>
            The Al Bowlly Database is a comprehensive searchable store of every song released by legendary Thirties crooner Al Bowlly .
            It links to all the later re-releases of the shellac originals on Vinyl,Cassette and Compact Disc.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Al Bowlly on Vinyl</h2>
        <p>Visit  www.bowllyonvinyl.co.uk for more information on Al's Vinyl Records.</p>
        <p><a class="btn btn-default" href="https://www.bowllyonvinyl.co.uk">Al Bowlly on Vinyl &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Memory Lane</h2>
        <p>The Al Bowlly Circle ( his Fan Club since 1968) now forms part of the Memory Lane Website .This site is dedicated to the music of the 20s,30s,and 40s,in particular the Great British Dance Bands,and releases a quarterly magazine as well as remastered CD's.</p>
        <p><a class="btn btn-default" href="http://www.memorylane.org.uk/">Memory Lane &raquo;</a></p>
    </div>

</div>
